<aside id="sidebar">
    <div class="sidenav-outer">
        <div class="menu-body">
            <ul class="nav nav-pills nav-stacked sidenav">
                <li>
                    <a [routerLink]="['/']" class="website-name">
                        my-cars-db
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/']" class="logo">
                        <!--<img src="assets/images/flat-avatar.png" class="user-avatar" />-->
                        <p class="text-xs-center">Some logo...</p>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/']">
                        <i class="fa fa-home"></i>
                        <span>&nbsp; Home</span>
                    </a>
                </li>
                <li *ngIf="isUserLoggedIn">
                    <a [routerLink]="['/vehicle']">
                        <i class="fa fa-car"></i>
                        <span>&nbsp; Vehicle</span>
                    </a>
                </li>
                <li *ngIf="isUserLoggedIn" class="nested" [ngClass]="{'expand' : showMenu === 'pages' }">
                    <a (click)="addExpandClass('pages')"><i class="fa fa-chevron-circle-down"></i><span>&nbsp;&nbsp; Pages</span></a>
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['components']"><span>Test 1</span></a>
                        </li>
                        <li>
                            <a [routerLink]="['blankpage']"><span>Test 2</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a *ngIf="!isUserLoggedIn" [routerLink]="['/login']">
                        <i class="fa fa-sign-in"></i><span>&nbsp;&nbsp; Login</span>
                    </a>
                    <a *ngIf="isUserLoggedIn" (click)="logout()">
                        <i class="fa fa-sign-out"></i><span>&nbsp;&nbsp; Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>
