<div class="container">
  <h3>Add Vehicle</h3>
<form #vehicleForm="ngForm" (submit)="addVehicle(vehicleForm)">
    <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-registration-mark"></span></span>
    <select class="form-control" required="required" name="makeId"
     (change)="onSelect($event.target.value)"
  [(ngModel)]="model.makeId">
  <option *ngFor="let make of availableVehicleMakes" [value]="make.id">
    {{make.name}}
  </option>
</select >
    </div>
  </div>
   <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-registration-mark"></span></span>
    <select class="form-control" required="required" name="modelId"
  [(ngModel)]="model.modelId">
  <option *ngFor="let model of availableVehicleModels" [value]="model.id">
    {{model.name}}
  </option>
</select >
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-registration-mark"></span></span>
    <input type="text" name="exactModel" [(ngModel)]="model.exactModel" required="required" class="form-control" placeholder="Exact modelname">
    </div>
  </div>
     <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-fire"></span></span>
    <input type="number" name="regNumber" [(ngModel)]="model.regNumber" class="form-control" placeholder="Registration number" >
    </div>
  </div>
   <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-fire"></span></span>
    <input type="number" name="power" [(ngModel)]="model.power" class="form-control" placeholder="Engine power" >
    </div>
  </div>
   <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-fire"></span></span>
    <input type="number" name="engineCapacity" [(ngModel)]="model.engineCapacity" class="form-control" placeholder="Engine capacity" >
    </div>
  </div>
  <div class="form-group">
<div class="input-group">
  <span class="input-group-addon"><span class="glyphicon glyphicon-road"></span></span>
<select class="form-control" required="required" name="type"
  [(ngModel)]="model.type">
  <option *ngFor="let type of availableVehicleTypes" [value]="type.id">
    {{type.name}}
  </option>
</select >
</div>
  </div>
    <div class="form-group">
<div class="input-group">
  <span class="input-group-addon"><span class="glyphicon glyphicon-road"></span></span>
<select class="form-control" name="fuelTypes" required="required" multiple
  [(ngModel)]="model.fuelTypes">
  <option *ngFor="let type of availabaleFuelTypes" [value]="type.id">
    {{type.name}}
  </option>
</select >
</div>
  </div>       
   <input type="submit" value="Add">
</form>
</div>
