<table class="table table-striped">
  <thead>
    <tr>
      <th>{{'VEHICLE.CAR_MODEL'|translate}}</th>
      <th>{{'VEHICLE.INFORMATION'|translate}}</th>
      <th>{{'VEHICLE.MANUFACTURE_DATE'|translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles | filterVehicle:vehicleFilter">
      <td>
        {{vehicle.makeName}} {{vehicle.modelName}} {{vehicle.exactModel}}
      </td>
      <td>
        {{vehicle.power}} {{vehicle.engineCapacity}} cm<sup>3</sup> {{vehicle.fuelTypesStr}}
      </td>
      <td>
        {{vehicle.manufactureDate | date: "MM/yyyy"}}
      </td>
      <td *ngIf="location=='/garage'">
        <span class="glyphicon glyphicon-pencil" role="button" (click)="onSelect(vehicle.id)"></span>
      </td>
    </tr>
  </tbody>
</table>
