<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <app-error *ngIf="errorMessage" [errorMessage]="errorMessage"></app-error>

            <h4>Register</h4>
            <form #registerForm="ngForm" name="registerForm" (ngSubmit)="register($event)" novalidate>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="email" [(ngModel)]="model.email" name="email" required="required" [pattern]="emailValidationRegex" minlength="5" maxlength="50" class="form-control" placeholder="Email" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        <input type="password" [(ngModel)]="model.password" name="password" required="required" minlength="6" maxlength="50" class="form-control" placeholder="Password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-repeat"></span></span>
                        <input type="password" [(ngModel)]="model.confirmPassword" name="confirmPassword" required="required" minlength="6" maxlength="50" class="form-control" placeholder="Repeat password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" [(ngModel)]="model.name" name="name" minlength="3" required="required" maxlength="50" class="form-control" placeholder="Name" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
                        <input type="tel" [(ngModel)]="model.phoneNumber" name="phoneNumber" required="required" class="form-control" placeholder="Phone number" />
                    </div>
                </div>
                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-default" [disabled]="!registerForm.form.valid">
                        Register&nbsp;<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>